<html>
<head>
	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag :defaults %>
</head>

<body>
	<h1><%= link_to 'Football Predictor', root_path %></h1>
	
	<%= yield %>
	
	
	<br>
	<br>
	<br>
	<h6>Copyright Rwanda Developers Extraordinaire 2010</h6>
	
</body>
</html>