<html>
<head>
	<%= stylesheet_link_tag 'application' %>
</head>

<body>
	<h1><%= link_to 'Football Predictor', root_path %></h1>
	
	<%= yield %>
	
	
	<br>
	<br>
	<br>
\	Copyright Rwanda Developers Extraordinaire 2010
	
</body>
</html>